/* global fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Heebo:wght@500;600;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-pic-background {
background: linear-gradient(
    30deg,
  hsl(212deg 52% 66%) 0%,
  hsl(228deg 50% 73%) 11%,
  hsl(258deg 45% 75%) 22%,
  hsl(293deg 40% 73%) 33%,
  hsl(323deg 60% 76%) 44%,
  hsl(341deg 89% 80%) 56%,
  hsl(356deg 100% 82%) 67%,
  hsl(11deg 100% 80%) 78%,
  hsl(23deg 100% 77%) 89%,
  hsl(33deg 93% 74%) 100%
);
}
.timeline-list-item{
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.timeline-list-item:last-child{
    border: 0px;
    padding-bottom: 0;
}
.timeline-list-item::before{ 
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #1e40af;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}




.bg-gradient-dark-blue {
  background:  linear-gradient(180.14deg,#142c69 .12%,rgba(20,44,105,0) 62.01%),#008081 !important;
}

.bg-gradient-bright {
  background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4 !important; 
  background-opacity:
}

.bg-gradient-purple {
    background: linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee !important;
}

.bg-gradient-teal {
  background: linear-gradient(314.25deg,rgba(10,185,149,.7) 1.09%,rgba(10,185,149,0) 43.26%),#dacdff !important;
}

/* Logo Animation */
#logo > #logo-elements > #hide-layer { 
    transition: transform 0.35s ease-in-out; 
    
}
/* cubic-bezier(0.5, 0.41, 0.58, 0.80) */

#logo:hover > #logo-elements > #hide-layer {
    transform: translateX(100%);
    
}


/*  font faces */

@font-face {
  font-family: 'Heebo';
  font-style:normal;
  font-display: block; 
}

@font-face {
  font-family: 'Soehne';
  font-display: swap;
  src: url(/fonts/soehne-semibold.woff) format('woff');
}

@font-face {
  font-family: 'League Spartan';
  font-display: swap;
  src: url(/fonts/leaguespartan-bold.woff) format('woff');
}



